<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <link rel="stylesheet" href="login.css">
    <form action="/compLogin" method="POST">
        <div class="container">
          <div class="text"><u>ORGANISATION LOG IN PAGE</u></div>
          <br>
          <br>
          <label for="email"><b>Email</b></label>
          <br>
          <input type="text" placeholder="Enter Email" name="comp_uname" required>
      <br>
          <label for="psw"><b>Password</b></label>
          <br>
          <input type="password" placeholder="Enter Password" name="comp_psw" required>
      <br>
          <button id="log" type="submit">Login</button>
      <br>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      
        <div class="container" >
          <button type="button" class="cancelbtn" >Cancel</button>
          <span class="psw">Forgot <a href="#" id="p">Password?</a></span>
        </div>
      </form>
</body>
</html>