<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placement Procedure</title>
</head>
<body>
    <link rel="stylesheet" href="procedure.css">
    <div class="h"><h1><u>Placement Procedure</u></h1>
    </div>
    <br>
    <br>
    <br>
    <div class="container"><h3>1.Companies are contacted by the Placement office or Placement cell (authorized student representatives) and invitations are extended, providing relevant information and the placement brochure.
        <br>
        2.Companies are given an exclusive login id in the website after they submit the filled-in job announcement forms (JAF) via email.
        <br>
        3.The JAFs are made available online, which helps the willing students to register for the same.
        <br>
        4.The Placement Cell and the Company confer and finalize the date for pre-placement talks if necessary. During the pre-placement talk the company team can interact with the students and impart to them, an idea of what the company requires.
        <br>
        5.Each student who has registered for a particular company submits his/her resume so that the company can shortlist the applied students according to their grade or any other criteria the company demands.
        <br>
        6.A detailed schedule is prepared by the Placement Cell evaluating the job offer, prospects, student intake and the like. The schedule is confirmed with all the companies that have applied to recruit.
        <br>
        7.The companies/organizations visit the IIIT Bhagalpur campus/ IIT Guwahati campus, meet the registered (or shortlisted as the case may be) students, and conduct the interviews, tests or group discussion sessions in accordance with their respective recruitment process. The date of the interview and other sessions should be in compliance with the mutually confirmed schedule discussed earlier.
        <br>
        8.The companies are required to prepare and submit, with a written confirmation letter the list of students who are selected after the interview process, on the day of the interview itself.
        <br>
        9.The job offer letters are to reach the Placement Cell, in due course of time.
        <br>
        10.In case a student gets a job offer, he/she is not entitled to appear for further tests/interviews by any other company.</h3>
        <br>
    </div>
</body>
</html>