<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="project.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Training and Placements, Indian Institute of Information Technology Bhagalpur</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
      <a class="navbar-brand" href="#">
          <img src="https://www.iiitbh.ac.in/sites/default/files/logo1.png" class="logo" id="img1" >
        </a>
        <div id="heading"><h3>Training and Placement Cell Indian Institute of Information Technology Bhagalpur<br><br>प्रशिक्षण एवं स्थानन प्रकोष्ठ भारतीय सूचना प्रौद्योगिकी संस्थान भागलपुर</h3><br>
      </nav>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active nav-border">
              <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <button class="dropbtn">LogIn</button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="/login">Student</a>
                  <a href="/compLogin">Companies</a>
                </div>
              </div>
            </li>
             
            <li class="nav-item">
              <div class="dropdown">
                <button class="dropbtn">Register</button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="/register">Student</a>
                  <a href="/compRegister">Companies</a>
                </div>
              </div>
            </li> 
            <li class="nav-item">
              <div class="dropdown">
                <button class="dropbtn">Recruiters</button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="recruiters.pdf">Statistics</a>
                  <a href="/procedure">Placement Procedure</a>
                </div>
              </div>
            </li> 
            <li class="nav-item">
              <div class="dropdown">
                <button class="dropbtn">Settings</button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="/studentlogout">student logOut</a>
                  <a href="/companylogout">company logOut</a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <button class="dropbtn">Students Section</button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="/uploadCV">upload your CV</a>
                </div>
              </div>
            </li> 

            {{!-- <li class="nav-item">
              <a class="nav-link" href="/uploadCV">Student section</a>
            </li> --}}
            
            <li class="contact nav-item">
              <a class="navbar-brand" href="https://www.facebook.com/iiitbh.ac.in/">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="contact nav-item">
              <a class="navbar-brand" href="https://www.instagram.com/iiit_bhagalpur_official/?hl=en">
                <i class="fa fa-instagram"></i>
              </a>
            </li>  
            <li class="contact nav-item">
              <a class="navbar-brand" id="l" href="https://in.linkedin.com/school/iiitbh/">
                <i class="fa fa-linkedin-square"></i>
              </a>
            </li>
            <li class="contact nav-item">
                <a href="https://twitter.com/iiitbhagalpur"><i class="fa fa-twitter-square"></i></a>
              </li>        
          </ul>
          
        </div>
      </nav>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="15000">
            <img src="https://www.iiitbh.ac.in/sites/default/files/2020-05/Proposed%20IIIT%20Bhagalpur%20Building1.jpg" height="600" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="15000">
            <img src="https://i.ibb.co/DzQfHrK/p.jpg" alt="p" width="100%"></a>
          </div>
          <div class="carousel-item" data-interval="15000">
            <img src="https://i.ibb.co/9cHvqtM/Plcement-Brochure-21-22-34-page-0001.jpg" alt="P1" width="100%"></a>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <h1 style="margin-left: 40px;color:#343A40;text-decoration: wavy;margin-top: 30px;"> About us </h1>
      <div style="margin-left: 40px;"><span class="about" >The Indian Institute of Information Technology Bhagalpur is one of the emerging leader in the field of Information Technology and Automation. The institute was established in year 2017 through an act of parliament and it is an institute of national importance. Under the leadership of highly qualified and motivated faculties, IIIT Bhagalpur has developed a world class learning environment. As an outcome, we are determined to support the industry requirements in the area of Information Technology and Automation.</span>
      </div>
      <br>
      <div style="margin-left: 40px;">
      <span class ="about" ></span> The training and placement cell is responsible for all the placement activities of all the departments of the institute. IIIT Bhagalpur was established under the mentorship of IIT Guwahati. The placement activity of the institute is conducted  at IIIT Bhagalpur Campus.
      </span>
      </div>

      <svg style="margin-top:0;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#343A40" fill-opacity="1" d="M0,192L48,192C96,192,192,192,288,176C384,160,480,128,576,122.7C672,117,768,139,864,170.7C960,203,1056,245,1152,245.3C1248,245,1344,203,1392,181.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
<div class="wave-container">
        <div class="container">
          <div>
            <h2>Contact Us</h2>
            <p>Leave us a message:</p>
          </div>
          <div class="row">
            <div class="column">
              <form >
                <label for="fname">Name</label><br>
                <input type="text" id="fname" name="firstname" placeholder="Your name.."><br>
                <label for="email">Email Id</label><br>
                <input type="text" id="email" name="emailid" placeholder="abc@gmail.com"><br>
                <label for="Role">Status</label><br>
                <select id="role" name="role">
                  <option value="student">Student</option>
                  <option value="parent">Parent</option>
                  <option value="faculty">Faculty</option>
                  <option value="others">Others</option>
                </select><br>
                <label for="subject">Subject</label><br>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea><br>
                <input type="submit" value="Submit"><br>
              </form>
            </div>
          </div>
        </div>
        <div class="container-2">
        <h3> <b> Contact Info </b></h3> <p><br>
         Indian Institute of Information Technology Bhagalpur, <br><br>
        BCE Campus ,Sabour,<br><br> Pin Code-813210 , Bihar, India<br><br>
       <br><br>
        Email: tnp.iiitbh.ac.in
        </p><br>
        <p>
        <h4><b>Get In Touch</b></h4><br>
        ⚪ <a class="contact" href="https://www.facebook.com/iiitbh.ac.in/">Facebook</a><br><br>
        ⚪ <a class="contact" href="https://in.linkedin.com/school/iiitbh/">Linked In</a><br><br>
        ⚪ <a class="contact" href="https://www.instagram.com/iiit_bhagalpur_official/?hl=en">Instagram</a><br><br>
        </p>
        </div>
        
      </div>
      <br>
      <span class="cp"><b>&copy;Indian Institute of Information Technology Bhagalpur</b></span>
   
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
    function myFunction() {
      document.getElementById("myDropdown").style.display="block";
    }
    </script>
  </body>
</html>